# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Python
+ R
+ SQL

Some of the popular languages that Data Scientists use are:

1.Python
2.SQL
3.R
4.SCALA

Some of the commonly used libraries used by Data Scientists include:

1.Pandas
2.NumPy
3.Matplotlib
4.Keras

| Data Science Tools |
| -------------|
| MySQL |
| MongoDB |
| PostgreSQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [16]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Pranav Kaingade